<!DOCTYPE html>
<html lang="en" style="scroll-padding-top: 4em;">
	<head>
		<title><?php $title=ucwords(str_replace("_", " ", $pageRaw)); if($pageRaw === "aac") { $title="AAC"; } if(strlen($title) > 0) { print($title . " - "); } ?>Udderance</title>
		<meta charset="utf-8">
		<meta name="theme-color" content="#0D47A1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/images/favicon.png" rel="shortcut icon" type="image/png">
		<link rel="stylesheet" href="/assets/css/mini-divested-noicons.min.css" integrity="sha384-bHqez6dPKg824j/I2BwUBAvlOvzC9u8eyjhEiVfzcNcJgI5/MMq8UE26y37RPZPU">
		<?php if($pageRaw === "aac") : ?>
		<link rel="manifest" href="/assets/aac.json">
		<?php endif; ?>
		<style>
			.h2o {
				color: #2196F3;
			}
			.h3o {
				color: #4CAF50;
			}
			.centero {
				display: block !important;
				margin-left: auto !important;
				margin-right: auto !important;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<header class="sticky centero" id="real_header">
			<a href="/index.html#splash" class="logo" style="color: #2196F3; font-weight: bold;" data-pagefind-ignore="all">Udderance</a>
		</header>

		<div class="row" id="content">
			<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
